{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{ post.title }}
{% endblock title %}

{% block content %}
    <article>
        <div class="blog-hero">
        </div>
        <section class="col-10 offset-1 blog-body px-5 py-5 mb-5 shadow-sm">
            <header class="mb-5">
                <h2 class="blog-post-title">{{ post.title }}</h2>
                <small class="blog-post-meta ">{{ post.publish }} by {{ post.author }}</small>
            </header>
            <main class="text-opacity-75 lh-2">
                {{ post.body|linebreaks }}
            </main>
            <footer>
                <a href="{% url 'blog:post_share' post.id %}">Share this post</a>
            </footer>
        </section>
        <section class="col-10 offset-1 blog-body px-5 py-5 shadow-sm">
            {% with comments.count as total_comments %}
                <h2>
                    {{ total_comments }} Comment{{ total_comments|pluralize }}
                </h2>
            {% endwith %}
            
            {% for comment in comments %}
                <div class="bg-light rounded-3 mb-5 shadow-sm">
                    <div class="row">
                        <div class="col-3 text-center">
                            <div>
                                <img src="/static/imgs/profile.jpg" alt="" class="rounded-circle img-fluid">
                            </div>
                            <p class="m-0 py-2">
                                {{ comment.name }}
                            </p>
                            <small class="py-3">
                                {{ comment.created_at|timesince }} Ago
                            </small>
                        </div>
                        <div class="col-9 d-grid">
                            {{ comment.body|linebreaks }}
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>There are no comments.</p>
            {% endfor %} 
            {% include "partials/comment_form.html" %}
        </section>     
    </article>
{% endblock content %}